/* Base Application Styles */
body {
  color: #222;
  background: #fff;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .content {
  margin: 20px auto;
  padding: 15px 40px;
  width: 800px;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #eee;
}

.entry {
  clear:both;
}

.resource-thumb-thumb {
  float:left;
}

.resource-thumb-name {

}

.resource-list-thumb {
  float:left;
}

.resource-list-name {

}